.calendar {
  background-color: #000000;
  color: #FDFDFD;
  border-radius: 16px;
}

.timebox {
  margin: 30px 0px;
  .time-container {
    .content {
      font-family: Product Sans;
      font-weight: bolder;
      font-size: 60px;
    }
    .divider {
      margin: 8px 15px;
      padding: 0px 1px;
      background: linear-gradient(#F37F97, #B043D1, #8897F4, #79E6F3);
    }
  }
  .date-container {
    font-family: Product Sans;
    margin-top: 2px;
  }
}

.cal-box {
  font-family: Cantarell;
  font-weight: Bold;
  font-size: 0.9rem;
  background-color: $bg;
  border-radius: 0.5rem;
  padding: 0 1rem 0.2rem;
  color: $fg;
  background-color: $bg-alt;
  margin: 0.6rem 0.6rem 0.6rem 0.6rem;

  .cal {
    background-color: inherit;
    padding: .5rem .10rem 0rem;
    margin-left: 10px;

    & > * {
      border: solid 0px transparent;
    }

    &.highlight {
      padding: 10rem;
    }
  }
}

calendar:selected {
  color: $kuning;
}

calendar.header {
  color: $kuning;
  font-weight: bold;
}

calendar.button {
  color: $kuning;
}

calendar.highlight {
  color: $green;
  font-weight: bold;
}

calendar:indeterminate {
  color: $lightblack;
}
